<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>发布会管理页面</h2>
    <form method="POST" action="/login_action/">
        <input name='username'  type="text"><br>
        <input name='password'  type="text"><br>
        {{error}} <br>
        <button id='login_btn' type="submit">登录</button>
        <button id='reset' type="reset">重置</button>
        {% csrf_token %}  
    </form>
</body>
</html>